html{
  background-color: #946a00;
  color: #ffeda6;
  font-family: arial;

}

nav#weekly-lab-assignments {
  padding-top: 85px;

}

div#headshot {
  float: right;
  padding: 10px;
  margin: 10px;
  border: double;

}
